@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-UkraineHead-LOGO.otf") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Medium.otf") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Light.otf") format("woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
} 

@import "./styles/global.css";
@import "tailwindcss";

@theme {
    --font-myfont: eUkraine;
}