@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-UkraineHead-LOGO.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eUkraine;
  src: url("./assets/fonts/e-Ukraine-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} 

@import "./styles/global.css";
@import "tailwindcss";

@theme {
    --font-myfont: eUkraine, "sans-serif";
}